@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  @apply font-lora;
}

#root {
  height: 100%;
}

@layer base {
  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-xl;
  }

  a {
    @apply text-sky-900;
    @apply dark:text-white;
  }

  article {
    @apply bg-white;
    @apply text-sky-900;
    @apply shadow-md;
    @apply transition-shadow;
    @apply duration-300;
    @apply hover:shadow-sky-500;
    @apply dark:text-white;
    @apply dark:bg-slate-800;
    @apply dark:hover:shadow-slate-700;
  }
}

#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#fs-frm label,
#fs-frm ::placeholder {
  font-size: 1rem;
  color: theme('colors.sky.700');
  margin-bottom: 0.5rem;
  padding-top: 0.2rem;
  display: flex;
  align-items: baseline;
}

#fs-frm ::placeholder {
  color: theme('colors.gray.400');
}

/* border, padding, margin, width */
/* light mode */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element,
button {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: theme('colors.sky.900');
  background-color: theme('colors.gray.50');
  padding: 0.75em 1rem;
  margin-bottom: 1.5rem;
}

#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  /* background-color: theme('colors.gray.100'); */
  outline-style: solid;
  outline-width: thin;
  outline-color: theme('colors.sky.500');
  outline-offset: -1px;
}

/* #fs-frm [type="submit"] {
  background-color: theme("colors.sky.700");
  color: theme("colors.sky.100");
}
#fs-frm [type="submit"]:hover {
  background-color: theme("colors.sky.500");
  color: theme("colors.sky.100");
} */

@media (prefers-color-scheme: dark) {
  #fs-frm input:focus,
  #fs-frm select:focus,
  #fs-frm textarea:focus {
    /* background-color: theme('colors.sky.200'); */
    outline-style: solid;
    outline-width: medium;
    outline-color: theme('colors.sky.500');
    /* outline-offset: -1px; */
  }

  #fs-frm input,
  #fs-frm select,
  #fs-frm textarea,
  #fs-frm #card-element {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: theme('colors.sky.50');
    padding: 0.75em 1rem;
    margin-bottom: 1.5rem;
  }

  #fs-frm label {
    font-size: 1rem;
    color: theme('colors.sky.50');
    margin-bottom: 0.5rem;
    padding-top: 0.2rem;
    display: flex;
    align-items: baseline;
  }
}

#fs-frm [type='text'],
#fs-frm [type='email'] {
  width: 100%;
}
#fs-frm [type='button'],
#fs-frm [type='submit'],
#fs-frm [type='reset'] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
#fs-frm [type='button']:focus,
#fs-frm [type='submit']:focus,
#fs-frm [type='reset']:focus {
  outline: none;
}
#fs-frm [type='submit'],
#fs-frm [type='reset'] {
  margin-bottom: 0;
}
#fs-frm select {
  text-transform: none;
}

#fs-frm [type='checkbox'] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 0.5em 0 0 !important;
}

#fs-frm [type='radio'] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

/* address, locale */
#fs-frm fieldset.locale input[name='city'],
#fs-frm fieldset.locale select[name='state'],
#fs-frm fieldset.locale input[name='postal-code'] {
  display: inline;
}
#fs-frm fieldset.locale input[name='city'] {
  width: 52%;
}
#fs-frm fieldset.locale select[name='state'],
#fs-frm fieldset.locale input[name='postal-code'] {
  width: 20%;
}
#fs-frm fieldset.locale input[name='city'],
#fs-frm fieldset.locale select[name='state'] {
  margin-right: 3%;
}
